# Python
__pycache__/
*.pyc
.venv/
env/

# Environment variables
.env
.env.local

# Logs
*.log

# OS
.DS_Store

#NEXT bs stuff
# Next.js
.next/
out/

# Databases
*.db

# Node
node_modules/frontend/package-lock.json
